.padre-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.div-navbar {
  display: flex;
  align-self: center;
  margin-right: 5px;
  align-content: flex-end;
  justify-content: flex-end;
  position: fixed;
  width: 90%;
  z-index: 2;
}

.name-img {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  margin-bottom: 40px;
  height:100vh;
  /* background: rgb(184,185,185); */
background: linear-gradient(10deg, rgba(184,185,185,0) 70%, rgba(218,255,252,0) 50%, #2e6f83 50%);
}
.circular--portrait{
  display: flex;
  justify-content: start;
  align-items: center;

}
.text-home {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  margin-left: 20px;
}

.image-circular {
  width: 433px;
  display: flex;
  border-radius: 1000px;
}

.saludo-span{
  font-size: 90px;
  color: #216072;
  font-family: "Montserrat", sans-serif;
  display: block;
}

.name-span {
  font-size: 90px;
  color: #216072;
  font-family: "Montserrat", sans-serif;
}

.title-span {
  font-size: 50px;
  color: #2a0e00;
  font-family: "Montserrat", sans-serif;
  position: relative;
  float: left;
}

.title-span::after{
  content:"";
  background:#f8f7f3;;
  right: 0;
  height: 100%;
  position: absolute;
  border-left: 1px solid #2a0e00; ;

  animation: maquina 2s infinite alternate steps(30);
}

@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.div-containers {
  justify-content: center;
  height: 100vh;
  width: 100%;
  display: flex;
  /* margin: 90px 20px; */
  flex-direction: column;
}

.div-projects{
  justify-content: center;
  height: 100vh;
  width: 100%;
  display: flex;
  /* margin: 90px 20px; */
  flex-direction: column;
}

.div-container-skills{
  justify-content: center;
  height: 100vh;
  width: 100%;
  display: flex;
  /* margin: 90px 20px; */
  flex-direction: column;
}
.div-container-contact{
  justify-content: center;
  height: 100vh;
  width: 100%;
  display: flex;
  /* margin: 90px 20px; */
  flex-direction: column;
  background: linear-gradient(190deg, rgba(184,185,185,0) 70%, rgba(218,255,252,0) -50%, #2e6f83 -50%);
}

.div-footer{
  display:flex;
  width: 50%;
  justify-content: center;
  margin-bottom: 15px;
}
.div-footer .github-icon{
  margin: auto 20px;
}

@media screen and (max-width: 1190px) {
  .name-span {
    font-size: 70px;
  }
  .title-span {
    font-size: 35px;
  }
}

@media (max-width: 970px) {
  .name-span {
    font-size: 50px;
  }
  .title-span {
    font-size: 28px;
  }
  .image-circular {
    width: 250px;
    height: auto;
  }
}
@media (max-width: 630px) {
  .name-span {
    font-size: 28px;
  }
  .title-span {
    font-size: 15.8px;
  }
  .image-circular {
    width: 100px;
    height: auto;
  }
  .div-containers {
    margin: 30px 10px;
  }
  .div-projects{
    justify-content: start;
    margin: 30px 10px;
  }
  .div-container-skills{
    justify-content: start;
    margin: 30px 10px;
  }

  .div-container-contact{
    margin: 30px 10px;
  }

  .div-navbar{
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .name-img{
    height: 120vh;
  }
  .name-span {
    font-size: 25px;
  }
  .title-span {
    font-size: 14px;
  }
  .image-circular {
    width: 100px;
    height: auto;
  }
  .div-containers {
    margin: 30px 10px;
  }
  .div-projects{
    min-height: fit-content;
    height: 250vh;
    justify-content: start;
    margin: 30px 10px 30px 10px;
  }
  .div-container-skills{
    justify-content: start;
    margin: 30px 10px 30px 10px;
    height: 200vh
  }

  .div-container-contact{
 
  }
  .div-navbar{
    justify-content: center;
  }
}
