.div-contact {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.contact-title {
  font-size: 45px;
  color: #1f5362;
  font-family: "Montserrat", sans-serif;
}

.div-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 20px 20px;
  align-self: center;
}
.div-name {
  width: 100%;
  margin: 15px 0;
}
.div-email {
  width: 100%;
  margin: 15px 0;
}

.div-message {
  width: 100%;
  margin: 15px 0;
}

.input {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  border: none;
  padding: 0;
  height: 40px;
  min-width: 600px;
  max-width: 600px;
  border-radius: 5px;
  max-height: 280px;
  text-indent: 10px;
}

.button-submit {
  color: #2a0e00;
  width: 100px;
  height: 35px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.button-submit:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 770px) {
  .input {
    max-width: 400px;
    min-width: 400px;
  }
}

@media screen and (max-width: 415px) {
  .input {
    min-width: 310px;
    max-width: 310px;
  }
}
